.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #dcae1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #607993;
}

.App-link {
  color: #607993;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav-bar {
  padding:0;
}
.logo img {
  width:6.5vw;
  padding-right: 1rem;
}
.logo a {
  color:#FABD37;
  font-size: 1.75rem;
  background-color: #0A052B;


}
.logo a:hover {
  color:#409492;

}
.nav-bar {

    /*border: 1px solid #282c34;*/
  /*position: relative;*/

  display: inline-block;
  background: #76C6C5;
  font: #cae4db;
}
link{
  color: black;
}
.nav-link {
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  color: #050A30;
  width: 20%;

  /*position : relative;*/

}

body {

margin: 30px;
background: #429E9D;
}

input {
  margin: 5px;
}

button {
  margin: 3px;
  background-color: #7a9d96;
}
.root {
  position: relative;
}

.login-form{
  position: relative;
  width:30%;
  border: 3px solid #f1f1f1;
  /*padding-top: 10%;*/
}
.login-form form .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 65%
}
.hero {
  display: flex;
  justify-content: center;
}
.loginBtn {
  margin-left: 50px;
  margin-right: 50px;
}


.login-input{
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.register{
  color: black;
}

.w-100{
  /*width: 70%;*/
  height: 500px;
  width: 600px;
  /*margin: 0 auto;*/
  /*margin: 0 auto;*/
  border: 3px grey solid;
}

.c1{
  height: 300px;
  width: 600px;
}

.head.item {
  color: #050A30;
}
.ttr{
  color: #050A30
}

.Dropdown.Menu{
  color: #cae4db
}
.schedule.color{
  color: #cae4db
}

.schedule-list {
  color: #050A30
}
.table td {
  vertical-align: middle;
}
td {
  color: #050A30
}
.h3 {
  font-max-size: medium;
}

.dropdown-button {
  color: white
}

.add-input {

}

.tbody {
  color: #050A30;
}

th {
  color: #050A30;
}

th {
  color: #050A30;
}
.addJobForm {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
}
.jobSave {
  color: white;
  width: 50%;
  border: solid #FABD37 2px;
  background-color: #4EB5C3;
}
.jobAddDropdown button {
  background-color: #4EB5C3;
  width: 200px;

}
.addjobform {
  justify-content: center;
}
.addJobTextArea {
  margin: 5px;
}

.imgLeft {
  width: 70%;
}

.imgRight {
  width: 70%;
}

.boxImg {
  margin-top: 60px;
  margin-left: 100px;
}
.job_edit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.job_editRow {
  background: rgba(255, 255, 255, 0.5);
  padding:15px;
  border-radius: 10px;

}
.job_edit img {
  width:50%;
  border-radius: 10px;
}
.login-form {
  /* background: rgba(255, 255, 255, 0.5); */
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  padding:15px;
  border-radius: 10px;

}
.tableBg {
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
/*.carousel.item {*/
/*    -webkit-transition: -webkit-transform 2.7s ease-in-out !important;*/
/*    -0-transition: -o-transform 2.7s ease-in-out !important;*/
/*    transition: transform 2.7s ease-in-out !important;*/
/*}*/

td>a {
  color: black;
}

h4 {
  color: #050A30;
}

.select-materials {
  display: none;
}


.select-employees{
  display: none;
}
